@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
}

/* Основные элементы */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Anonymous Pro", serif;
  color: #121723;
  background-color: #F1F1F1;
  margin: 0px;
  font-weight: bold;
}

h3,
p {
  background-color: white;
  margin: 0px;
  padding: 0px;

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  max-width: 1161px;
  margin: 0px auto 25px;
}

/* Хедер */
header {
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  width: 100%;
  border-bottom: solid 1px #676B73;
  align-items: center;
  justify-content: center;

}

.header_container {
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  align-items: center;
}

.nav_header {
  display: flex;
  column-gap: 24px;
  align-items: center;
}

.nav_list {
  display: inline;
}

.nav_header a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;

}

/* Футер */

.footer {
  display: flex;
  flex-direction: column;
  background-color: #121723;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1140px;
  width: 100%;
  gap: 32px;
  padding: 32px 0px 24px;

}

.footer_top_container {
  display: flex;
  max-width: 1140px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav_footer {
  row-gap: 24px;
}

.nav_footer a {
  text-decoration: none;
  color: #FFF;
  font-size: 20px;
}

.creator {
  text-align: center;
  color: #A1A6B4;
  font-size: 16px;
  background-color: #121723;
  padding-bottom: 24px;
}

.line {
  border-color: #676B73;
  padding: 0px;
  margin: 0px;
  height: 1px;
  width: 100%;
}


.logo_footer {
  align-items: center;
}


/* Карточка кросса */
.sneaker_info {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  row-gap: 12px;
  align-items: flex-start;

}

.sneaker__text {
  font-weight: normal;
  font-size: 20px;

}

.sneaker__title {
  font-size: 26px;

}

.container_snikers {

  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: flex-start;
}


.sneaker {
  width: 100%;
  max-width: 371px;
  background-color: #FFF;
  border-radius: 12px;

}

.sneaker_image {
  border-radius: 12px;
}
.subtitle {
  font-size: 48px;
  padding: 0px;
  margin: 0;
  padding: 32px 0px;
}